{% extends 'tom_common/base.html' %}
{% load bootstrap4 static targets_extras cache %}
{% block title %} Data Product List {% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_observations/css/main.css' %}">
<style>
.dhtmlwindow{
    top:100px!important;
}
</style>
{% endblock %}
{% block content %}
{% include 'tom_dataproducts/partials/js9_scripts.html' %}
<div class="container">
<div class="row">

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
       <h1> Uploaded Files</h1>
      </div>
      <div class="col-md-12">
        <h3>Target: {{target.name }}</h3>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>File</th>
          <th>Photometry</th>
          <th>Type</th>
          <th>Filter</th>
          <th>Observatory</th>
          <th>Status</th>
          <th>MJD</th>
          <th>Exp</th>
          <th>Uploaded</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>

      {% for fit_id, time,  FileUrl, File, PhotometryUrl, Photometry, Filter, Observatory, Status, MJD, expTime, type in object_list %}
      <tr>
       {% if type != 'photometry_cpcs' %}
        <td><div title="{{File}}"><a href="/data/{{ FileUrl }}">{{ File|truncatechars:15 }}</a></div></td>
        {% else %}
          <td></td>
        {% endif %}
        <td><div title="{{Photometry}}"><a href="/data/{{ PhotometryUrl }}">{{ Photometry|truncatechars:15 }}</a></div></td>

       {% if type == 'fits_file' %}
          <td><div title="Fits image">Fits image</div></td>
        {% elif type == 'photometry_cpcs' %}
          <td><div title="	Instrumental photometry">Instrumental photometry</div></td>
        {% else %}
        <td><div title="{{type}}">{{ type }}</div></td>
         {% endif %}


        <td><div title="{{Filter}}">{{ Filter }}</div></td>
        <td><div title="{{Observatory}}">{{ Observatory }}</div></td>
        <td><div title="{{Status}}">{{ Status|truncatechars:22 }}</div></td>
        {% if MJD != None %}
        <td><div title="{{MJD}}">{{ MJD|floatformat:4 }}</div></td>
        {% else %}
          <td></td>
        {% endif %}
        {% if expTime != None %}
        <td><div title="{{expTime}}">{{ expTime }}</div></td>
        {% else %}
          <td></td>
        {% endif %}
        {% if time != None %}
        <td style="min-width: 115px"><div title="{{time}}">{{ time }}</div></td>
         {% else %}
          <td></td>
        {% endif %}
        <td>
          <a href="{% url 'bhlist_file_detail' pk=target.id pk_fits=fit_id%}" title="Show details" class="btn btn-primary">Detail</a>
        </td>
      </tr>
      {% endfor %}

      </tbody>
    </table>
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
  </div>

</div>
</div>
{% endblock %}
