{% extends 'tom_common/base.html' %}
{% load dataproduct_extras %}
{% load comments bootstrap4 tom_common_extras comments_list targets_extras observation_extras dataproduct_extras target_data_with_permissions data_upload publication_extras static cache %}
{% block title %}Target {{ object.name }}{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/main.css' %}">
<link rel="stylesheet" href="{% static 'bhtom/css/main.css' %}">
<link rel="stylesheet" href="{% static 'bhtom/css/data-menu.css' %}">
<link rel="stylesheet" href="{% static 'bhtom/css/plots.css' %}">
{% endblock %}
{% bootstrap_javascript jquery='True' %}
{% block content %}
<div class="row">
  <div class="col-md-4">
    <div id="target-info">
    <h3>{{ target.name }}</h3>
      {% if object.future_observations %}
      <div class="alert alert-success">
        {{ object.future_observations|length }} upcoming observation {{ object.future_observations|pluralize }}
      </div>
      {% endif %}

      {% target_data object %}
      {% if object.type == 'SIDEREAL' %}
        {% aladin object %}
      {% endif %}
    </div>
  </div>
  <div class="col-md-8">
    <ul class="nav nav-tabs" id="tabs">
      {% if perms.tom_targets.view_target %}
        <li class="nav-item">
          <span class="nav-link active" data-target="#photometry" data-toggle="tab">Photometry</span>
        </li>
      {% endif %}
      {% if perms.tom_targets.view_target %}
        <li class="nav-item">
          <span class="nav-link" data-target="#spectroscopy" data-toggle="tab">Spectroscopy</span>
        </li>
      {% endif %}
      {% if perms.tom_dataproducts.add_dataproduct %}
        <li class="nav-item">
          <span class="nav-link" data-target="#upload" data-toggle="tab">Upload</span>
        </li>
      {% endif %}
      {% if user.is_staff %}
        <li class="nav-item">
          <span class="nav-link" data-target="#observe" data-toggle="tab">Observe</span>
        </li>
      {% endif %}
      {% if user.is_staff %}
        <li class="nav-item">
          <span class="nav-link" data-target="#observations" data-toggle="tab">Observations</span>
        </li>
      {% endif %}
      {% if perms.tom_targets.view_target %}
        <li class="nav-item">
          <span class="nav-link" data-target="#manage-groups" data-toggle="tab">Manage Groups</span>
        </li>
      {% endif %}
      {% if perms.tom_targets.view_target %}
         <li class="nav-item">
          <span class="nav-link" data-target="#publication" data-toggle="tab">Publication</span>
        </li>
      {% endif %}
      {% if perms.tom_targets.view_target %}
         <li class="nav-item">
          <span class="nav-link" data-target="#data" data-toggle="tab">Data</span>
        </li>
      {% endif %}
    </ul>

    <div class="tab-content">
      {% if user.is_staff %}
      <div class="tab-pane" id="observe">
        <h4>Observe</h4>
        {% observing_buttons object %}
        <hr/>
        {% observingstrategy_run object %}
        <hr/>
        <h4>Plan</h4>
        {% if object.type == 'SIDEREAL'%}
          {% target_plan %}
          {% moon_distance object %}
        {% elif target.type == 'NON_SIDEREAL' %}
          <p>Airmass plotting for non-sidereal targets is not currently supported. If you would like to add this functionality, please check out the <a href="https://github.com/TOMToolkit/tom_nonsidereal_airmass" target="_blank">non-sidereal airmass plugin.</a></p>
        {% endif %}
      </div>
      {% endif %}

      {% if user.is_staff %}
      <div class="tab-pane" id="observations">
        <h4>Observations</h4>
        <a href="{% url 'bhlist_detail' pk=target.id %}?update_status=True" title="Update status of observations for target" class="btn btn-primary">Update Observations Status</a>
        {% observation_list object %}
      </div>
      {% endif %}

      {% if perms.tom_dataproducts.add_dataproduct %}
      <div class="tab-pane" id="upload">
        {% if user.is_authenticated %}
         {% include 'tom_targets/target_upload.html' %}
        {% endif %}
      </div>
      {% endif %}

      {% if perms.tom_targets.view_target %}
      <div class="tab-pane" id="manage-groups">
        {% target_groups target %}
      </div>
      {% endif %}

      {% if perms.tom_targets.view_target %}
      <div class="tab-pane active" id="photometry">
        <div class="row menu-row">
          <div class="col-md-5">
            <h4>Photometry</h4>
          </div>
          <div class="col-md-7">
            <button onclick="open_photometry()" class="btn btn-info" role="button" style="float:right; margin-right:-4px">Interactive photometry plot</button>
            <a href="{% url 'datatools:update-reduced-data-gaia' %}?target_id={{ target.id }}" class="btn btn-primary"
               title="Update Light Curve" style="float:right; margin-right:10px">Check for new data</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="plot-container">
              {% photometry_for_target_static target form.aavso_data.value %}
            </div>
          </div>
        </div>

        {% if perms.tom_dataproducts.add_dataproduct %}
          <div class="row">
            <div class="col-md-12">
              <button onclick="download_photometry()" class="btn btn-info" role="button">Download photometry data</button>
              <button onclick="download_photometry_stats()" class="btn btn-info" role="button">Download photometry stats</button>
            </div>
          </div>
        {% endif %}

        {% comments_enabled as comments_are_enabled %}
        <hr/>
        <h5>Comments</h5>
        {% if comments_are_enabled %}
          {% render_comment_list for object %}
          {% url 'bhlist_detail' object.id as next %}
          {% if user.is_authenticated %}
           {% render_comment_form for object %}
          {% endif %}
        {% endif %}

      </div>
      {% endif %}

      {% if perms.tom_targets.view_target %}
      <div class="tab-pane" id="spectroscopy">
        <div class="plot-container">
          {% spectroscopy_for_target target %}
        </div>

        {% if perms.tom_dataproducts.add_dataproduct %}
          <div class="row">
            <div class="col-md-12">
              <button onclick="download_spectroscopy()" class="btn btn-info" role="button">Download spectroscopy data</button>
            </div>
          </div>
        {% endif %}

         {% comments_enabled as comments_are_enabled %}
        <hr/>
        <h5>Comments</h5>
        {% if comments_are_enabled %}
          {% render_comment_list for object %}
          {% url 'bhlist_detail' object.id as next %}
          {% if user.is_authenticated %}
            {% render_comment_form for object %}
          {% endif %}
        {% endif %}

      </div>
      {% endif %}

      {% if perms.tom_targets.view_target %}
      <div class="tab-pane" id="publication">
          <div class="row">
            <div class="col-md-12">
              <button onclick="download_photometry_stats_latex()" class="btn btn-info" role="button">Download photometry stats latex table</button>
            </div>
          </div>
      </div>
      {% endif %}

      {% if perms.tom_targets.view_target %}
      <div class="tab-pane" id="data">
         {% dataproduct_list object %}
      </div>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}

{% block extra_javascript %}
  <script type="text/javascript">
    function open_photometry() {
      window.open('{% url "bhlist_i_photometry" target.id %}', 'newwindow', 'width=800,height=700');
    }
    function download_photometry() {
      window.open('{% url "bhlist_download_photometry_data" target.id %}')
    }
    function download_photometry_stats() {
      window.open('{% url "bhlist_download_photometry_stats" target.id %}')
    }
    function download_photometry_stats_latex() {
      window.open('{% url "bhlist_download_photometry_stats_latex" target.id %}')
    }
    function download_spectroscopy() {
      window.open('{% url "bhlist_download_spectroscopy_data" target.id %}')
    }
</script>
{% endblock %}
