{% extends 'tom_common/base.html' %}
{% load static targets_extras tom_common_extras %}
{% block title %}Home{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_common/css/main.css' %}">
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h2 class="text-center">Black Hole TOM v.1.1</h2>
   <p class="text-center"><img src="https://www.redshift-live.com/binaries/asset/image/22596/image/A_simulated_black_hole_against_the_background_of_the_Milky_Way.jpg" class="img-fluid mx-auto"></p>
<!---    <p class="text-center"><img src="{% static 'img/BlackHoleImage.png' %}" class="img-fluid max-auto"></p> -->
    <p class="text-center">(Image courtesy of Ute Kraus.)</p>
    <p class="text-center"; style="font-size:16px">
    Welcome to Black Hole TOM,
    built using the
    <a href="https://tomtoolkit.github.io/">TOM Toolkit</a>.
    Github
    <a href="https://github.com/wyrzykow/bhtom">here</a>.
    To build your own TOM (Target Observation Manager), check out the
    <a href="https://tomtoolkit.github.io/docs/getting_started">getting started guide</a>.
    </p>
    <p class="text-center"; style="font-size:16px">
    The Black Hole TOM is an interface for viewing and sharing observational
    photometric and spectroscopic data of time-domain targets, and for requesting and managing follow-up observations
    obtained with a network of telescopes.
    </p>
<p>
    Version 1.1 (Dec.2020): processing of fits images (PSF or aperture photometry) is now available, along with photometric calibrations using Cambridge Photometric Calibration Server.   
    </p>
    <p class="text-center"; style="font-size:18px">
    <a href="http://visata.astrouw.edu.pl/~wyrzykow/2021.01-BHTOM-manual-v.1.1.pdf">BH TOM MANUAL (v.1.1)</a></p>

    <!-- CREDITS -->
    <p>
      The BHTOM was built within Time-Domain Work Package of the <a href="https://www.astro-opticon.org/">OPTICON</a> EC/Horizon2020 grant no. 730890. 
    </p>
    <!-- Akond Lab -->
    <p>
      The BHTOM is co-developed and integrated by the <a href="https://www.akond.com/">Akond Lab</a>  company.
    </p>

    <!-- LOGOS -->
    <p class="text-center"><img src="http://www.astrouw.edu.pl/~wyrzykow/logo-opticon.png" class="img-fluid mx-auto">
        <img src="http://www.astrouw.edu.pl/~wyrzykow/logo-uniwarsaw.png" class="img-fluid mx-auto">      
      </p>
    <p class="text-center"><img src="/bhtom/static/tom_common/img/logo_akondlab.png" class="img-fluid mx-auto" style="width:380px">
    </p>
  </div>
  <div class="comments col-md-4">
    <div class="card">
      <div class="card-header">
        Latest Comments
      </div>
      {% recent_comments %}
    </div>
    <br/>
    <div class="card">
      <div class="card-header">
        Latest Targets
      </div>
      {% recent_targets %}
  </div>
</div>
{% endblock %}
