{% extends 'tom_common/base.html' %}
{% load bootstrap4 %}
{% block title %}Create observatory{% endblock %}
{% block content %}
{{ users }}

{% if object %}
<form action="{% url 'instrument_update' object.id %}" enctype="multipart/form-data" method="POST">
{% else %}
  <p> Create your new User Observatory.

<form action="{% url 'instrument_create' %}" enctype="multipart/form-data" method="POST">
{% endif %}
{% csrf_token %}
{% bootstrap_form form %}
{% buttons %}
  {% if object %}
    <button type="submit" class="btn btn-primary" title="Update">Update</button>
  {% else %}
    <a href="{% url 'observatory_create' %}" title="Add Observatory" class="btn btn-primary">Add Observatory</a>
    <button type="submit" class="btn btn-primary" title="Create Observatory"> Create Observatory</button>
  {% endif %}

{% endbuttons %}
</form>
{% endblock %}
