{% load bootstrap4 %}
{% comment %}
The following nav-item list elements (li) are included in the tom_common/base.html navbar-nav (ul).
For customization instructions, see tom_common/base.html
{% endcomment %}

<li class="nav-item {% if request.resolver_match.url_name == 'bhlist' %}active{% endif %}">
        <a class="nav-link" href="{% url 'bhlist' %}">Targets</a>
</li>

<li class="nav-item {% if  request.resolver_match.url_name == 'targetgrouping' %}active{% endif %}">
        <a class="nav-link" href="{% url 'targetgrouping' %}">Target Grouping</a>
</li>

<li class="nav-item {% if request.resolver_match.url_name == 'about' %}active{% endif %}">
    <a class="nav-link" href="{% url 'about' %}">About</a>
</li>
<li class="nav-item {% if  request.resolver_match.url_name == 'observatory' %}active{% endif %}">
    <a class="nav-link" href="{% url 'observatory' %}">Observatories</a>
</li>
