{% extends 'tom_common/base.html' %}
{% load bootstrap4 %}
{% block title %}Create observatory{% endblock %}
{% block content %}
{{ users }}

{% if object %}
<form action="{% url 'observatory_update' object.id %}" enctype="multipart/form-data" method="POST">
{% else %}
  <p> Create your new Observatory. You can only upload your photometry (FITS/SExtractor) for the observatories/instruments listed here. 
    <br>
    Please fill the form below, check BHTOM manual for details.
    Your entry has to be then activated by the Administrator. 
    </p>
    <p>
      Prefix is a shortenned name to be used in hashtag generation.
      Matching radius is the expected astrometric accuracy of your observatory.
      The sample fits file is necessary for new observatories for verification of the automatic photometric processing.
    </p>
<form action="{% url 'observatory_create' %}" enctype="multipart/form-data" method="POST">
{% endif %}
{% csrf_token %}
{% bootstrap_form form %}
{% buttons %}
  <button type="submit" class="btn btn-primary">
    {% if object %}
    Update
    {% else %}
    Create Observatory
    {% endif %}
  </button>
{% endbuttons %}
</form>
{% endblock %}
