{% extends 'tom_common/base.html' %}
{% load static targets_extras tom_common_extras %}
{% block title %}Home{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_common/css/main.css' %}"> 
{% endblock %} 
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h2 class="text-center">Black Hole TOM</h2>
   <p class="text-center"><img src="https://www.redshift-live.com/binaries/asset/image/22596/image/A_simulated_black_hole_against_the_background_of_the_Milky_Way.jpg" class="img-fluid mx-auto"></p>
<!---    <p class="text-center"><img src="{% static 'img/BlackHoleImage.png' %}" class="img-fluid max-auto"></p> -->
    <p class="text-center">(Image courtesy of Ute Kraus.)</p>
    <p class="text-center"; style="font-size:16px">
    Welcome to Black Hole TOM, 
    built using the 
    <a href="https://tomtoolkit.github.io/">TOM Toolkit</a>.
    Github 
    <a href="https://github.com/wyrzykow/bhtom">here</a>.
    To build your own TOM (Target Observation Manager), check out the 
    <a href="https://tomtoolkit.github.io/docs/getting_started">getting started guide</a>.
    </p>
    <p class="text-center"; style="font-size:16px">
    The Black Hole TOM 1.0 is an interface for viewing and sharing observational
    data of microlensing events, and for requesting and managing observations
    with the 
    <a href="https://lco.global/">LCO</a> network.
    </p>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Latest Comments
      </div>
      {% recent_comments %}
    </div>
    <br/>
    <div class="card">
      <div class="card-header">
        Latest Targets
      </div>
      {% recent_targets %}
  </div>
</div>
{% endblock %}
