{% extends 'tom_common/base.html' %}
{% load comments bootstrap4 tom_common_extras targets_extras observation_extras dataproduct_extras static cache bhtom_tags %}
{% block title %}Target {{ object.name }}{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_common/css/main.css' %}">
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-5">
    <div id="target-info">
      {% target_feature object %}
      {% target_data object %}
      {% aladin_collapse object %}
    </div>
  </div>
  <div class="col-md-7">
    <ul class="nav nav-tabs" id="tabs">
      <li class="nav-item">
        <span class="nav-link active" data-target="#overview" data-toggle="tab">Overview</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" data-target="#spectra" data-toggle="tab">Spectra</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" data-target="#images" data-toggle="tab">Images</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" data-target="#data" data-toggle="tab">Data</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" data-target="#detailView" data-toggle="tab">Detail</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" data-target="#schedule" data-toggle="tab">Schedule Observations</span>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane in active" id="overview">

        {% lightcurve target %}
        <hr/>
        <h5>Current Visibility of the target</h5>
        {% airmass_plot %}
        <hr />
        {% comments_enabled as comments_are_enabled %}
        <h5>Comments</h5>
          {% if comments_are_enabled %}
            {% render_comment_list for object %}
            {% url 'bhlist_detail' object.id as next %}
            {% if user.is_authenticated %}
              {% render_comment_form for object %}
            {% endif %}
          {% endif %}
      </div>
      <div class="tab-pane" id="spectra">
        <h4>Spectra</h4>
        {% spectra_plot target %}
      </div>
      <div class="tab-pane" id="images">
        <h4>Examine Images</h4>
        <a href="{% url 'bhlist_detail' pk=target.id %}?update_status=True" title="Update status of observations for target" class="btn btn-primary">Update Observations Status</a>
        {% observation_list object %}
      </div>
      <div class="tab-pane" id="data">
        {% include 'tom_targets/upload.html' %}
        {% dataproduct_list_for_target object %}
      </div>
       <div class="tab-pane" id="detailView">
        {% detail_fits_upload object user%}
      </div>
      <div class="tab-pane" id="cross-reference">
        <h4>Cross-Reference</h4>
        <p>Under construction</p>
      </div>
      <div class="tab-pane" id="schedule">
        <h4>Schedule Observations</h4>
        {% observing_buttons object %}
        {% moon_vis object %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
