@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media (min-width: 1200px){
  .container {max-width: 1500px;}
}

h5 {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 5rem;
  background-Color: black;
  color: white;
}

.table {
  color:  white;
}

.content {
  padding: 3rem 1.5rem;
  background-Color: black;
  color: whitesmoke;
}

.navbar-brand > img {
   max-height: 25px;
}

.input-group-text {
    font-family: monospace;
}

td.red {
  background-Color: red;
}
td.orange {
  background-Color: orange;
}
td.green {
  background-Color: green;
}
.table-hover tbody tr:hover {
    color: white!important;
}
.comments{
    color:black!important;
}
.internal-tabs {
    margin-left: 0;
}
.internal-tab-content {
    padding: 0;
}